---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="logo-container">
				<img src="/public/logo.webp" class="App-logo" />
				<p>
					投资 旅游 编程 健身
					<br />
					一万年太短，不争朝夕
					<br />
					<span>
						<a
							class="App-link"
							href="https://x.p1gd0g.cc"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img
								class="App-img"
								src="icon/gridder.png"
								width={48}
								height={48}
							/>网格交易测试工具</a
						>
					</span>
				</p>
			</div>
		</main>

		<Footer />
	</body>
</html>
